{% extends 'base.html.twig' %}

{% block title %}Sign Up | AdminKit Demo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('backoffice/css/app.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="d-flex w-100">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Get started</h1>
                            <p class="lead">
                                Start creating the best possible user experience for you customers.
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    {% for flash_error in app.flashes('verify_email_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                    {% endfor %}

                                    {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                                    {{ form_errors(registrationForm) }}

                                    <div class="mb-3">
                                        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Enter your email'}}) }}
                                        {{ form_errors(registrationForm.email) }}
                                    </div>

                                    <div class="mb-3">
                                        {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control form-control-lg', 'placeholder': 'Enter password'}}) }}
                                        {{ form_errors(registrationForm.plainPassword) }}
                                    </div>

                                    <div class="mb-3">
                                        <div class="form-check">
                                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                            {{ form_label(registrationForm.agreeTerms, 'I agree to the Terms and Conditions', {'label_attr': {'class': 'form-check-label'}}) }}
                                            {{ form_errors(registrationForm.agreeTerms) }}
                                        </div>
                                    </div>

                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-lg btn-primary w-100">Sign up</button>
                                    </div>
                                    {{ form_end(registrationForm) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}