{% extends 'basefront.html.twig' %}

{% block title %}Nouvelle Réclamation{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Nouvelle réclamation</h2>

    {{ form_start(form) }}
        {{ form_row(form.sujet) }}
        {{ form_row(form.description) }}
        {{ form_row(form.userId) }}
        {{ form_row(form.date) }}
        <button class="btn btn-success mt-3">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
