{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="mb-3">
        {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.titre, {'attr': {'class': 'form-control' ~ (form.titre.vars.valid ? '' : ' is-invalid')}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.titre) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.date, 'Date', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.date, {'attr': {'class': 'form-control' ~ (form.date.vars.valid ? '' : ' is-invalid')}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.date) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.destination, 'Destination', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.destination, {'attr': {'class': 'form-control' ~ (form.destination.vars.valid ? '' : ' is-invalid')}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.destination) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.utilisateur, 'Utilisateur', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.utilisateur, {'attr': {'class': 'form-control' ~ (form.utilisateur.vars.valid ? '' : ' is-invalid')}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.utilisateur) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}