{% extends 'base.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}
    <h1>Mission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMission</th>
                <td>{{ mission.idMission }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ mission.titre }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ mission.date ? mission.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ mission.destination }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mission_index') }}">back to list</a>

    <a href="{{ path('app_mission_edit', {'idMission': mission.idMission}) }}">edit</a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
