{% extends 'indexback.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
  <div class="container">
    <h1>Register User</h1>

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
      <div class="col-md-6">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.cin) }}
        {{ form_row(registrationForm.phone_number) }}
        {{ form_row(registrationForm.hire_date) }}
      </div>
      <div class="col-md-6">
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.cv) }}
        {{ form_row(registrationForm.profile_photo) }}
        {{ form_row(registrationForm.salary) }}
      </div>
    </div>

    <div class="form-group mt-3">
      <label>Role</label>
      {% for child in registrationForm.role %}
        <div class="form-check">
          {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
          {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary mt-3">Register</button>
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}
